@{
    ViewData["Title"] = "Манифест";
}

<div class="fightclub-card">
    <h1>Манифест</h1>
    <ul class="manifesto">
        <li> </div></div>  </li>
        <li>Мадаминов Султан Добро пожаловать в клуб!</li>
        <li>Первый бой с Аканом</li>
        <li>После Бакыт</li>
        <li></li>
        <li></li>
    </ul>
</div>
